@inherits SeriesFieldBase
<Field ColumnSize="ColumnSize.Is3">
    <FieldLabel>
        @LabelText
    </FieldLabel>
    <FieldBody>
        <NumericEdit @bind-Value="@Value"/>
        @if (!ParentField.List.IsFixedSize)
        {
            <Button Clicked="RemoveSelf" Color="Color.Danger">×</Button>
        }
    </FieldBody>
</Field>

@code {
    public object Value
    {
        get => GetValue();
        set => SetValue(Convert.ChangeType(value, FieldAttribute.ElementType));
    }
}