@using Secyud.Ugf.DataManager
@using Castle.Core.Internal
@inherits SeriesFieldBase
@typeparam TInteger where TInteger :struct
<Field ColumnSize="ColumnSize.IsAuto">
    <FieldLabel>
        @LabelText
    </FieldLabel>
    <FieldBody>
        @if (FieldAttribute.ShowType == SShowType.Special)
        {
            <TextEdit @bind-Text="BinaryValue"
                      MaskType="MaskType.RegEx"
                      EditMask="^[0-1]*$"/>
        }
        else
        {
            <NumericEdit TValue="TInteger" @bind-Value="@Value"/>
        }
        @if (!ParentField.List.IsFixedSize)
        {
            <Button Clicked="RemoveSelf" Color="Color.Danger">×</Button>
        }
    </FieldBody>
</Field>

@code {
    public TInteger Value
    {
        get => (TInteger)GetValue();
        set => SetValue(value);
    }

    private string BinaryValue
    {
        get => Convert.ToString(Convert.ToInt64(Value), 2);
        set
        {
            try
            {
                long integer = Convert.ToInt64(value, 2);
                Value = (TInteger)Convert.ChangeType(integer, FieldAttribute.ElementType);
            }
            catch (Exception e)
            {
                Console.WriteLine(e);
            }
        }
    }
}