@using Secyud.Ugf.DataManager
@using Castle.Core.Internal
@inherits SeriesFieldBase
<Field ColumnSize="ColumnSize.IsAuto">
    <FieldLabel>
        @LabelText
    </FieldLabel>
    <FieldBody>
        @if (FieldAttribute.ShowType == SShowType.Special)
        {
            <GuidEdit @bind-Value="@Guid"/>
        }
        else
        {
            <ClassSelector BaseClass="GetLimitType()"
                           EnsureAction="id => Guid = id"/>
            @(Guid)
        }
        @if (!ParentField.List.IsFixedSize)
        {
            <Button Clicked="RemoveSelf" Color="Color.Danger">×</Button>
        }
    </FieldBody>
</Field>

@code {

    public Guid Guid
    {
        get => (Guid)GetValue();
        set => SetValue(value);
    }

    protected Type GetLimitType()
    {
        TypeLimitAttribute limit = FieldAttribute.Info
            .GetAttribute<TypeLimitAttribute>();
        return limit?.LimitType;
    }
}