@inherits SeriesFieldBase
@typeparam TNumber where TNumber :struct
<Field ColumnSize="ColumnSize.IsAuto">
    <FieldLabel>
        @LabelText
    </FieldLabel>
    <FieldBody>
        <NumericEdit TValue="TNumber" @bind-Value="@Value"/>
        @if (!ParentField.List.IsFixedSize)
        {
            <Button Clicked="RemoveSelf" Color="Color.Danger">×</Button>
        }
    </FieldBody>
</Field>

@code {
    public TNumber Value
    {
        get => (TNumber)GetValue();
        set => SetValue(value);
    }
}