@using Secyud.Ugf.DataManager
@using Secyud.Ugf
<div class="container">
    <Autocomplete Style="width: 100%"
                  TItem="Tuple<string, Guid>" TValue="Guid"
                  Class="class-selector-auto-complete"
                  Placeholder="@Placeholder"
                  Data="U.Tm.SubTypes(BaseClass)"
                  TextField="u => u.Item1"
                  ValueField="u => u.Item2"
                  SelectedValueChanged="v => SelectClassId = v"
                  Filter="AutocompleteFilter.Contains"/>

    <Button Class="class-selector-ensure-button"
            Color="Color.Secondary" Clicked="EnsureSelect">
        <Icon Name="IconName.Check"/>
    </Button>
</div>

@code {

    [Parameter]
    public Type BaseClass { get; set; }

    [Parameter]
    public EventCallback<Guid> EnsureAction { get; set; }

    [Parameter]
    public string Placeholder { get; set; }

    private Guid SelectClassId { get; set; }

    private async Task EnsureSelect()
    {
        await EnsureAction.InvokeAsync(SelectClassId);
    }

}