@using Secyud.Ugf.DataManager
@using Secyud.Ugf
<div class="container">
    <Autocomplete Style="width: 100%"
                  TItem="TypeDescriptor" TValue="Guid"
                  Data="TypeManager.Instance.GetRegisteredType(BaseClass)"
                  TextField="u => u.Type.Name"
                  ValueField="u => u.Type.GUID"
                  SelectedValueChanged="v => SelectClassId = v"
                  Filter="AutocompleteFilter.Contains"/>

    @if (EnsureAction.HasDelegate)
    {
        <Button Color="Color.Secondary" Clicked="EnsureSelect">
            <Icon Name="IconName.Check"/>
        </Button>
    }
    
    @if (CancelAction.HasDelegate)
    {
        <Button Color="Color.Danger" Clicked="CancelAction">
            <Icon Name="IconName.Delete"/>
        </Button>
    }
</div>

@code {

    [Parameter]
    public Type BaseClass { get; set; }

    [Parameter]
    public EventCallback<Guid> EnsureAction { get; set; }
    
    [Parameter]
    public EventCallback CancelAction { get; set; }

    private Guid SelectClassId { get; set; }

    private async Task EnsureSelect()
    {
        await EnsureAction.InvokeAsync(SelectClassId);
    }

}